.minimalLevelView
{
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-background-radius:10;
    -fx-border-radius: 10;
    -fx-background-color: bisque;
    -fx-border-color: chocolate;
    -fx-padding: 10 10 10 10;
}
